.jumbotron {
  border-radius: 0;
}

.progress {
  margin-bottom: 0;
}

.preview {
  margin-bottom: 2rem;
  h3 {
    margin-bottom: 0;
    a {
      color: #1a0dab;
    }
  }
  span {
    color: #006621;
  }
  p {
    color: #545454;
  }
}